In [8]:
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd

In [9]:
pd.set_option('display.max_columns', None)

In [3]:
df = gpd.read_file('FINAL_DATA/Film_Locations_Geocoded_FINAL.csv')
df.head(2)

,unique_id,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,...,director1_name,director2_nconst,director2_name,writer1_nconst,writer1_name,writer2_nconst,writer2_name,writer3_nconst,writer3_name,geometry
0,5,The Californians,2005,,,Parker Film Company,Fabrication Films,Jonathan Parker,Jonathan Parker & Catherine DiNapoli,Noah Wyle,...,Jonathan Parker,,,nm0662383,Jonathan Parker,nm0227517,Catherine DiNapoli,nm0416556,Henry James,None
1,6,Babies,2010,,,Canal+,Focus Features,Thomas Balmes,Thomas Balmes,Bayar,...,Thomas Balmès,,,nm0149260,Alain Chabat,nm0050988,Thomas Balmès,,,None

In [5]:
df_names = pd.read_csv('FINAL_DATA/Names_FINAL.csv')

In [9]:
df_names = df_names.replace(r'\N', '')

In [10]:
names_dict = {}
for index, row in df_names.iterrows():
    nconst = row['nconst']
    names_dict[nconst] = {}
    names_dict[nconst]['primaryName']=row['primaryName']
    names_dict[nconst]['birthYear']=row['birthYear']
    names_dict[nconst]['deathYear']=row['deathYear']
    names_dict[nconst]['primaryProfession']=row['primaryProfession']
    names_dict[nconst]['knownForTitles']=row['knownForTitles']
    names_dict[nconst]['KnowForTitleNames']=row['KnowForTitleNames']

In [21]:
df['genres'] = df['genres'].replace(',', ', ',regex=True)

In [22]:
df['genres']

54         Crime, Mystery, Thriller
55         Crime, Mystery, Thriller
56
57      Action, Adventure, Thriller
58
                   ...
2078       Drama, Mystery, Thriller
2079
2080       Drama, Mystery, Thriller
2081       Drama, Mystery, Thriller
2082       Drama, Mystery, Thriller
Name: genres, Length: 2028, dtype: object

In [11]:
df = df[df.coordinates_final2!='']

In [12]:
df['geometry'] = df.apply(lambda row: Point(float(row['lon_final2']), float(row['lat_final2'])), axis=1)

In [23]:
gdf = gpd.GeoDataFrame(df, geometry='geometry')
gdf.to_file('FINAL_DATA/data.geojson', driver='GeoJSON')

In [11]:
import json
with open('FINAL_DATA/Names.json', 'w') as json_file:
    json.dump(names_dict, json_file, indent=4)