In [7]:
import geopandas as gpd
from shapely.geometry import Point
import pandas import pd

ImportError: cannot import name 'pd' from 'pandas' (/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/__init__.py)

In [6]:
pd.set_option('display.max_columns', None)

NameError: name 'pd' is not defined

In [3]:
df = gpd.read_file('FINAL_DATA/Film_Locations_Geocoded_FINAL.csv')
df.head(2)

,unique_id,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,...,director1_name,director2_nconst,director2_name,writer1_nconst,writer1_name,writer2_nconst,writer2_name,writer3_nconst,writer3_name,geometry
0,5,The Californians,2005,,,Parker Film Company,Fabrication Films,Jonathan Parker,Jonathan Parker & Catherine DiNapoli,Noah Wyle,...,Jonathan Parker,,,nm0662383,Jonathan Parker,nm0227517,Catherine DiNapoli,nm0416556,Henry James,None
1,6,Babies,2010,,,Canal+,Focus Features,Thomas Balmes,Thomas Balmes,Bayar,...,Thomas Balmès,,,nm0149260,Alain Chabat,nm0050988,Thomas Balmès,,,None

In [5]:
df[df.Title == "Vegas in Space"]

,unique_id,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,...,director1_name,director2_nconst,director2_name,writer1_nconst,writer1_name,writer2_nconst,writer2_name,writer3_nconst,writer3_name,geometry
169,132,Vegas in Space,1992,422 Oak Street at Laguna,,Troma Entertainment,MCA/Universal Home Video,Phillip R. Ford,Doris Fish,Doris Fish,...,Phillip R. Ford,,,nm0279273,Doris Fish,nm0944320,Miss X,nm0285832,Phillip R. Ford,None
531,528,Vegas in Space,1992,3567 18th Street,,Troma Entertainment,MCA/Universal Home Video,Phillip R. Ford,Doris Fish,Doris Fish,...,Phillip R. Ford,,,nm0279273,Doris Fish,nm0944320,Miss X,nm0285832,Phillip R. Ford,None
903,940,Vegas in Space,1992,Project Artaud (Florida Street),,Troma Entertainment,MCA/Universal Home Video,Phillip R. Ford,Doris Fish,Doris Fish,...,Phillip R. Ford,,,nm0279273,Doris Fish,nm0944320,Miss X,nm0285832,Phillip R. Ford,None
956,997,Vegas in Space,1992,Under Highway 101 (near Potrero and Cesar Chav...,,Troma Entertainment,MCA/Universal Home Video,Phillip R. Ford,Doris Fish,Doris Fish,...,Phillip R. Ford,,,nm0279273,Doris Fish,nm0944320,Miss X,nm0285832,Phillip R. Ford,None
1142,1204,Vegas in Space,1992,Corona Heights Park,,Troma Entertainment,MCA/Universal Home Video,Phillip R. Ford,Doris Fish,Doris Fish,...,Phillip R. Ford,,,nm0279273,Doris Fish,nm0944320,Miss X,nm0285832,Phillip R. Ford,None
1666,1772,Vegas in Space,1992,544 Natoma (SOMA),,Troma Entertainment,MCA/Universal Home Video,Phillip R. Ford,Doris Fish,Doris Fish,...,Phillip R. Ford,,,nm0279273,Doris Fish,nm0944320,Miss X,nm0285832,Phillip R. Ford,None

In [9]:
df = df[df.coordinates_final2!='']

In [10]:
df['geometry'] = df.apply(lambda row: Point(float(row['lon_final2']), float(row['lat_final2'])), axis=1)

In [4]:
gdf = gpd.GeoDataFrame(df, geometry='geometry')
gdf.to_file('FINAL_DATA/data.geojson', driver='GeoJSON')