In [8]:
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd

In [9]:
pd.set_option('display.max_columns', None)

In [3]:
df = gpd.read_file('FINAL_DATA/Film_Locations_Geocoded_FINAL.csv')
df.head(2)

,unique_id,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,...,director1_name,director2_nconst,director2_name,writer1_nconst,writer1_name,writer2_nconst,writer2_name,writer3_nconst,writer3_name,geometry
0,5,The Californians,2005,,,Parker Film Company,Fabrication Films,Jonathan Parker,Jonathan Parker & Catherine DiNapoli,Noah Wyle,...,Jonathan Parker,,,nm0662383,Jonathan Parker,nm0227517,Catherine DiNapoli,nm0416556,Henry James,None
1,6,Babies,2010,,,Canal+,Focus Features,Thomas Balmes,Thomas Balmes,Bayar,...,Thomas Balmès,,,nm0149260,Alain Chabat,nm0050988,Thomas Balmès,,,None

In [12]:
df_names = pd.read_csv('FINAL_DATA/Names_FINAL.csv')

In [13]:
df_names

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles,KnowForTitleNames
0,nm0000033,Alfred Hitchcock,1899,1980,"Director, Producer, Writer","tt0054215,tt0053125,tt0052357,tt0056869","Psycho, North by Northwest, Vertigo, The Birds"
1,nm0000080,Orson Welles,1915,1985,"Actor, Writer, Director","tt0033467,tt0052311,tt0040525,tt0057427","Citizen Kane, Touch of Evil, The Lady from Sha..."
2,nm0000095,Woody Allen,1935,\N,"Writer, Director, Actor","tt0079522,tt0075686,tt0118954,tt0091167","Manhattan, Annie Hall, Deconstructing Harry, H..."
3,nm0000116,James Cameron,1954,\N,"Writer, Producer, Director","tt1630029,tt0499549,tt0090605,tt0103064","Avatar: The Way of Water, Avatar, Aliens, Term..."
4,nm0000118,John Carpenter,1948,\N,"Writer, Music Department, Composer","tt0080749,tt0077651,tt0069945,tt0082340","The Fog, Halloween, Dark Star, Escape from New..."
...,...,...,...,...,...,...,...
1383,nm9349624,Raven Jackson,\N,\N,"Writer, Director, Sound Department","tt11534720,tt8263558,tt13694702,tt12298960","All Dirt Roads Taste of Salt, Nettles, Surface..."
1384,nm9451422,Brittany Miller,\N,\N,"Writer, Miscellaneous, Producer","tt13366604,tt9223870,tt1486217,tt10167012","Platonic, Woke, Archer, Clean Slate"
1385,nm9466544,Isaac Gomez,\N,\N,"Writer, Producer, Actor","tt13745850,tt8714904,tt14271652,tt14066390","The Last Thing He Told Me, Narcos: Mexico, Joe..."
1386,nm9483849,Star Telegram,\N,\N,Director,tt0271894,48 Hours
1387,nm9911869,Ben Myer,\N,\N,Writer,tt4687880,Goliath

In [15]:
df_names = df_names.replace(r'\N', 'null')

In [20]:
df_names = df_names.fillna('null')

In [21]:
names_dict = {}
for index, row in df_names.iterrows():
    nconst = row['nconst']
    names_dict[nconst] = {}
    names_dict[nconst]['primaryName']=row['primaryName']
    names_dict[nconst]['birthYear']=row['birthYear']
    names_dict[nconst]['deathYear']=row['deathYear']
    names_dict[nconst]['primaryProfession']=row['primaryProfession']
    names_dict[nconst]['knownForTitles']=row['knownForTitles']
    names_dict[nconst]['KnowForTitleNames']=row['KnowForTitleNames']

In [21]:
df['genres'] = df['genres'].replace(',', ', ',regex=True)

In [22]:
df['genres']

54         Crime, Mystery, Thriller
55         Crime, Mystery, Thriller
56
57      Action, Adventure, Thriller
58
                   ...
2078       Drama, Mystery, Thriller
2079
2080       Drama, Mystery, Thriller
2081       Drama, Mystery, Thriller
2082       Drama, Mystery, Thriller
Name: genres, Length: 2028, dtype: object

In [11]:
df = df[df.coordinates_final2!='']

In [12]:
df['geometry'] = df.apply(lambda row: Point(float(row['lon_final2']), float(row['lat_final2'])), axis=1)

In [23]:
gdf = gpd.GeoDataFrame(df, geometry='geometry')
gdf.to_file('FINAL_DATA/data.geojson', driver='GeoJSON')

In [22]:
import json
with open('FINAL_DATA/Names.json', 'w') as json_file:
    json.dump(names_dict, json_file, indent=4)