In [1]:
import pandas as pd
import os, math, re, geopy, geocoder
from geopy.geocoders import Nominatim

/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv("data/Film_Locations_Cleaned_Step1.csv")

In [3]:
df.head(2)

,unique_id,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,...,Current Supervisor Districts,lat1,lon1,address1,lat2,lon2,address2,query_location,city,state
0,5,The Californians,2005,NaN,NaN,Parker Film Company,Fabrication Films,Jonathan Parker,Jonathan Parker & Catherine DiNapoli,Noah Wyle,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco,California
1,6,Babies,2010,NaN,NaN,Canal+,Focus Features,Thomas Balmes,Thomas Balmes,Bayar,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco,California

In [4]:
df['geocode_relevance1'] = None
df['geocode_relevance2'] = None

In [5]:
from mapbox import Geocoder
geocoder = Geocoder(access_token='pk.eyJ1IjoibnNpZWciLCJhIjoiY20waGMxbWQ3MDlyejJycTBxdnF4ZWY4eiJ9.VmmJsm55BZbS76tfzPLxrw')

In [6]:
response = geocoder.forward('900 Lombard Street', bbox=[-123,37,-122,38], limit=2)

In [7]:
place_name1 = response.json()['features'][0]['center'][0]
lon1 = response.json()['features'][0]['center'][0]
lat1 = response.json()['features'][0]['center'][1]
place_name2 = response.json()['features'][1]['center'][0]
lon2 = response.json()['features'][1]['center'][0]
lat2 = response.json()['features'][1]['center'][1]

In [8]:
bounding_box = [-123,37,-122,38]

for index, row in df[df['query_location'].notna()].iterrows():
    query = row['query_location']
    response = geocoder.forward(query, bbox=bounding_box, limit=2)
    if response.status_code == 200:
        if len(response.geojson()['features']) == 1:
            place_name1 = response.json()['features'][0]['place_name']
            lon1 = response.json()['features'][0]['center'][0]
            lat1 = response.json()['features'][0]['center'][1]
            relevance1 = response.json()['features'][0]['relevance']
            df.at[index, 'lat1'] = lat1
            df.at[index, 'lon1'] = lon1
            df.at[index, 'address1'] = place_name1
            df.at[index, 'geocode_relevance1'] = relevance1
        elif len(response.geojson()['features']) == 2:
            place_name1 = response.json()['features'][0]['place_name']
            lon1 = response.json()['features'][0]['center'][0]
            lat1 = response.json()['features'][0]['center'][1]
            place_name2 = response.json()['features'][1]['place_name']
            lon2 = response.json()['features'][1]['center'][0]
            lat2 = response.json()['features'][1]['center'][1]
            relevance1 = response.json()['features'][0]['relevance']
            relevance2 = response.json()['features'][1]['relevance']
            df.at[index, 'lat1'] = lat1
            df.at[index, 'lon1'] = lon1
            df.at[index, 'address1'] = place_name1
            df.at[index, 'lat2'] = lat2
            df.at[index, 'lon2'] = lon2
            df.at[index, 'address2'] = place_name2
            df.at[index, 'geocode_relevance1'] = relevance1
            df.at[index, 'geocode_relevance2'] = relevance2
        else:
            continue

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_67238/1522488039.py:27: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Fisherman's Wharf, San Francisco, California, United States' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'address1'] = place_name1
/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_67238/1522488039.py:30: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Fisherman's Wharf, 2801 Leavenworth St, San Francisco, California 94133, United States' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, 'address2'] = place_name2

In [9]:
df

,unique_id,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,...,lon1,address1,lat2,lon2,address2,query_location,city,state,geocode_relevance1,geocode_relevance2
0,5,The Californians,2005,NaN,NaN,Parker Film Company,Fabrication Films,Jonathan Parker,Jonathan Parker & Catherine DiNapoli,Noah Wyle,...,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco,California,None,None
1,6,Babies,2010,NaN,NaN,Canal+,Focus Features,Thomas Balmes,Thomas Balmes,Bayar,...,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco,California,None,None
2,24,Down Periscope,1996,NaN,NaN,Twentieth Century Fox Film Corp.,Twentieth Century Fox Film Corp.,David S. Ward,Hugh Wilson,Kelsey Grammar,...,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco,California,None,None
3,41,Shattered,1991,NaN,NaN,Capella International,Metro-Goldwyn-Mayer,Wolfgang Petersen,Wolfgang Petersen,Tom Berenger,...,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco,California,None,None
4,61,True Believer,1989,NaN,NaN,Columbia Pictures Corporation,Columbia Pictures,Joseph Ruben,Wesley Strick,James Woods,...,NaN,NaN,NaN,NaN,NaN,NaN,San Francisco,California,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079,2080,Vertigo,1958,900 Lombard Street,Lombard Street is not actually the most crooke...,Alfred J. Hitchcock Productions,Paramount Pictures,Alfred Hitchcock,Alec Coppel,James Stewart,...,-122.416600,"900 Lombard Street, San Francisco, California ...",37.802031,-122.418955,"Lombard Street, Lombard St, San Francisco, Cal...",900 Lombard Street,San Francisco,California,1,0.574074
2080,2081,Love & Taxes,2014,The Marsh Theatre (1062 Valencia Street),NaN,Bad Company Films,NaN,Jacob Kornbluth,Jacob Kornbluth,Jacob Kornbluth,...,-122.421301,"1062 Valencia Street, San Francisco, Californi...",37.383531,-122.089414,"1062 Valencia Street, Mountain View, Californi...",1062 Valencia Street,San Francisco,California,1,1
2081,2082,Chance- Season 1 ep109,2016,Terry A. Francois Blvd.,NaN,TVM Productions,HULU,Sara Gran and Pete Begler,Dan Attias,Hugh Laurie,...,-122.386414,"Terry A Francois Blvd, San Francisco, Californ...",37.769729,-122.386383,"Terry a. FranÃ§ois Boulevard, San Francisco, Ca...",Terry A. Francois Blvd.,San Francisco,California,1,1
2082,2083,Women is Losers,2020,1132 Florida St,NaN,Look at the Moon Pictures,NaN,Lissette Feliciano,Lissette Feliciano,Lorenza Izzo,...,-122.410443,"1132 Florida Street, San Francisco, California...",37.624870,-122.080838,"1132 Florida Street, Hayward, California 94545...",1132 Florida St,San Francisco,California,1,1
2083,2084,Godzilla,2014,Potrero &San Bruno,NaN,"Nautilus Productions, LLC",Warner Bros. Pictures,Gareth Edwards,Max Borenstein,Aaron Taylor-Johnson,...,-122.434589,"San Bruno Mountain State Park, 555 Guadalupe C...",37.615075,-122.425588,"San Bruno Chinese Church, 250 Courtland Dr, Sa...",Potrero &San Bruno,San Francisco,California,0.574074,0.574074

In [10]:
df.to_csv('data/Film_Locations_Geocoded_Step2.csv', index=False)