In [1]:
import pandas as pd

/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [106]:
df_titles = pd.read_csv("data/title.basics.tsv.gz", compression='gzip', delimiter='\t')
df = pd.read_csv('FINAL_DATA/Film_Locations_Geocoded_FINAL.csv')

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/2163218165.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv("data/title.basics.tsv.gz", compression='gzip', delimiter='\t')

In [107]:
unique_titles = list(df.Title.unique())
unique_titles.append('Chance')

In [108]:
df_titles = df_titles[df_titles['primaryTitle'].isin(unique_titles)]

In [13]:
df_crew = pd.read_csv("data/title.crew.tsv.gz", compression='gzip', delimiter='\t')

In [15]:
df_crew = df_crew[df_crew['tconst'].isin(df_titles.tconst.unique())]

In [16]:
df_crew

,tconst,directors,writers
1563,tt0001585,nm0205986,\N
1604,tt0001627,nm0002177,nm0713895
3105,tt0003148,nm0169871,nm0169871
4288,tt0004355,nm0869665,"nm0329136,nm0869665"
5482,tt0005571,nm0000122,nm0000122
...,...,...,...
10386283,tt9897472,nm2595237,"nm7675256,nm2595237"
10389740,tt9905408,\N,\N
10390729,tt9907606,nm0363668,nm3797254
10391541,tt9909484,nm0004554,"nm0796950,nm0795975,nm0075528,nm0012100,nm1132..."
10391682,tt9909838,nm6934354,\N

In [111]:

df_episodes = df[df['Title'].str.contains('ep', na=False)]
df_episodes = df_episodes[df_episodes['Title'] != 'What the Bleep Do We Know']

In [112]:
df_movies = df[~df['Title'].isin(list(df_episodes.Title))]

In [113]:
#check none are missing
len(df_movies)+len(df_episodes)

2083

In [114]:
df_movie_titles = df_titles[df_titles['titleType']=='movie']
df_series_titles = df_titles[df_titles['titleType']=='tvSeries']

In [115]:
movies_dict = {}
for index, row in df_movie_titles.iterrows():
    title = row['primaryTitle']
    year = row['startYear']
    df_movie_titles.at[index, 'title_year'] = f'{title} {year}'
    movies_dict[f'{title} {year}']={}
    movies_dict[f'{title} {year}']['tconst'] = row['tconst']
    movies_dict[f'{title} {year}']['genres'] = row['genres']
    movies_dict[f'{title} {year}']['run_time'] = row['runtimeMinutes']

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/3691218148.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_titles.at[index, 'title_year'] = f'{title} {year}'

In [116]:
series_dict = {}
for index, row in df_series_titles.iterrows():
    title = row['primaryTitle']
    year = row['startYear']
    df_series_titles.at[index, 'title_year'] = f'{title} {year}'
    series_dict[f'{title} {year}']={}
    series_dict[f'{title} {year}']['tconst'] = row['tconst']
    series_dict[f'{title} {year}']['genres'] = row['genres']
    series_dict[f'{title} {year}']['run_time'] = row['runtimeMinutes']

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/478664575.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_series_titles.at[index, 'title_year'] = f'{title} {year}'

In [117]:
for index, row in df_movies.iterrows():
    title = row['Title']
    year = row['Release Year']

    title_year = f'{title} {year}'
    try:
        tconst = movies_dict[title_year]['tconst']
        genres = movies_dict[title_year]['genres']
        run_time = movies_dict[title_year]['run_time']
        df_movies.at[index, 'tconst'] = tconst
        df_movies.at[index, 'genres'] = genres
        df_movies.at[index, 'run_time'] = run_time
    except:
        continue

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/86427332.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies.at[index, 'tconst'] = tconst
/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/86427332.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies.at[index, 'genres'] = genres
/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/86427332.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies.at[index, 'run_time'] = run_time

In [118]:
for index, row in df_movies[df_movies.tconst.isna()==True].iterrows():
    title = row['Title']
    year = row['Release Year']

    title_year = f'{title} {year}'
    try:
        tconst = series_dict[title_year]['tconst']
        genres = series_dict[title_year]['genres']
        run_time = series_dict[title_year]['run_time']
        df_movies.at[index, 'tconst'] = tconst
        df_movies.at[index, 'genres'] = genres
        df_movies.at[index, 'run_time'] = run_time
    except:
        continue

In [123]:
for index, row in df_episodes[df_episodes['Title'].str.contains('Chance')].iterrows():
    title = 'Chance'
    year = row['Release Year']

    title_year = f'{title} {year}'
    try:
        tconst = series_dict[title_year]['tconst']
        genres = series_dict[title_year]['genres']
        run_time = series_dict[title_year]['run_time']
        df_episodes.at[index, 'tconst'] = tconst
        df_episodes.at[index, 'genres'] = genres
        df_episodes.at[index, 'run_time'] = run_time
    except:
        continue

In [125]:
df = pd.concat([df_movies, df_episodes])

In [128]:
del df_episodes, df_episodes_chance, df_movies

In [130]:
del df_crew

In [131]:
df_ratings = pd.read_csv("data/title.ratings.tsv.gz", compression='gzip', delimiter='\t')

In [132]:
df_ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      2081
1        tt0000002            5.6       280
2        tt0000003            6.5      2078
3        tt0000004            5.4       181
4        tt0000005            6.2      2816
...            ...            ...       ...
1472880  tt9916730            7.0        12
1472881  tt9916766            7.1        24
1472882  tt9916778            7.2        37
1472883  tt9916840            7.2        10
1472884  tt9916880            8.6         8

[1472885 rows x 3 columns]

In [137]:
float(df_ratings[df_ratings.tconst=='tt9916730'].averageRating)

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/3113121265.py:1: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  float(df_ratings[df_ratings.tconst=='tt9916730'].averageRating)

7.0

In [ ]:
for index, row in df[df['tconst'].notna()].iterrows():
    tconst = row['tconst']
    try:
        df_episodes.at[index, 'rating'] = float(df_ratings[df_ratings.tconst==tconst].averageRating)
        df_episodes.at[index, 'numVotes'] = float(df_ratings[df_ratings.tconst==tconst].numVotes)
    except:
        continue

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/1955679484.py:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  df_episodes.at[index, 'rating'] = float(df_ratings[df_ratings.tconst==tconst].averageRating)