In [1]:
import pandas as pd

/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/nikkosiegfried/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [106]:
df_titles = pd.read_csv("data/title.basics.tsv.gz", compression='gzip', delimiter='\t')
df = pd.read_csv('FINAL_DATA/Film_Locations_Geocoded_FINAL.csv')

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/2163218165.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv("data/title.basics.tsv.gz", compression='gzip', delimiter='\t')

In [107]:
unique_titles = list(df.Title.unique())
unique_titles.append('Chance')

In [108]:
df_titles = df_titles[df_titles['primaryTitle'].isin(unique_titles)]

In [13]:
df_crew = pd.read_csv("data/title.crew.tsv.gz", compression='gzip', delimiter='\t')

In [15]:
df_crew = df_crew[df_crew['tconst'].isin(df_titles.tconst.unique())]

In [16]:
df_crew

,tconst,directors,writers
1563,tt0001585,nm0205986,\N
1604,tt0001627,nm0002177,nm0713895
3105,tt0003148,nm0169871,nm0169871
4288,tt0004355,nm0869665,"nm0329136,nm0869665"
5482,tt0005571,nm0000122,nm0000122
...,...,...,...
10386283,tt9897472,nm2595237,"nm7675256,nm2595237"
10389740,tt9905408,\N,\N
10390729,tt9907606,nm0363668,nm3797254
10391541,tt9909484,nm0004554,"nm0796950,nm0795975,nm0075528,nm0012100,nm1132..."
10391682,tt9909838,nm6934354,\N

In [111]:

df_episodes = df[df['Title'].str.contains('ep', na=False)]
df_episodes = df_episodes[df_episodes['Title'] != 'What the Bleep Do We Know']

In [112]:
df_movies = df[~df['Title'].isin(list(df_episodes.Title))]

In [113]:
#check none are missing
len(df_movies)+len(df_episodes)

2083

In [114]:
df_movie_titles = df_titles[df_titles['titleType']=='movie']
df_series_titles = df_titles[df_titles['titleType']=='tvSeries']

In [115]:
movies_dict = {}
for index, row in df_movie_titles.iterrows():
    title = row['primaryTitle']
    year = row['startYear']
    df_movie_titles.at[index, 'title_year'] = f'{title} {year}'
    movies_dict[f'{title} {year}']={}
    movies_dict[f'{title} {year}']['tconst'] = row['tconst']
    movies_dict[f'{title} {year}']['genres'] = row['genres']
    movies_dict[f'{title} {year}']['run_time'] = row['runtimeMinutes']

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/3691218148.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_titles.at[index, 'title_year'] = f'{title} {year}'

In [116]:
series_dict = {}
for index, row in df_series_titles.iterrows():
    title = row['primaryTitle']
    year = row['startYear']
    df_series_titles.at[index, 'title_year'] = f'{title} {year}'
    series_dict[f'{title} {year}']={}
    series_dict[f'{title} {year}']['tconst'] = row['tconst']
    series_dict[f'{title} {year}']['genres'] = row['genres']
    series_dict[f'{title} {year}']['run_time'] = row['runtimeMinutes']

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/478664575.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_series_titles.at[index, 'title_year'] = f'{title} {year}'

In [117]:
for index, row in df_movies.iterrows():
    title = row['Title']
    year = row['Release Year']

    title_year = f'{title} {year}'
    try:
        tconst = movies_dict[title_year]['tconst']
        genres = movies_dict[title_year]['genres']
        run_time = movies_dict[title_year]['run_time']
        df_movies.at[index, 'tconst'] = tconst
        df_movies.at[index, 'genres'] = genres
        df_movies.at[index, 'run_time'] = run_time
    except:
        continue

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/86427332.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies.at[index, 'tconst'] = tconst
/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/86427332.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies.at[index, 'genres'] = genres
/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/86427332.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies.at[index, 'run_time'] = run_time

In [118]:
for index, row in df_movies[df_movies.tconst.isna()==True].iterrows():
    title = row['Title']
    year = row['Release Year']

    title_year = f'{title} {year}'
    try:
        tconst = series_dict[title_year]['tconst']
        genres = series_dict[title_year]['genres']
        run_time = series_dict[title_year]['run_time']
        df_movies.at[index, 'tconst'] = tconst
        df_movies.at[index, 'genres'] = genres
        df_movies.at[index, 'run_time'] = run_time
    except:
        continue

In [123]:
for index, row in df_episodes[df_episodes['Title'].str.contains('Chance')].iterrows():
    title = 'Chance'
    year = row['Release Year']

    title_year = f'{title} {year}'
    try:
        tconst = series_dict[title_year]['tconst']
        genres = series_dict[title_year]['genres']
        run_time = series_dict[title_year]['run_time']
        df_episodes.at[index, 'tconst'] = tconst
        df_episodes.at[index, 'genres'] = genres
        df_episodes.at[index, 'run_time'] = run_time
    except:
        continue

In [125]:
df = pd.concat([df_movies, df_episodes])

In [128]:
del df_episodes, df_episodes_chance, df_movies

In [130]:
del df_crew

In [149]:
df_ratings = pd.read_csv("data/title.ratings.tsv.gz", compression='gzip', delimiter='\t')

In [155]:
tconst_series = df[df['tconst'].notna()].tconst
df_ratings2 = df_ratings[df_ratings['tconst'].isin(tconst_series)]

In [157]:
df_ratings2

            tconst  averageRating  numVotes
4827     tt0015881            8.0     10901
5800     tt0018037            6.4     11206
11168    tt0026097            6.8      2085
12094    tt0027260            7.6     12273
12865    tt0028216            7.1      6186
...            ...            ...       ...
1351796  tt7097896            5.9    265307
1358940  tt7241800            5.8       199
1365414  tt7374948            6.8     63484
1433378  tt8893498            6.4       181
1454694  tt9376612            7.4    444863

[252 rows x 3 columns]

In [158]:
ratings_dict = {}
for index, row in df_ratings2.iterrows():
    tconst = row['tconst']
    ratings_dict[tconst]={}
    ratings_dict[tconst]['averageRating'] = row['averageRating']
    ratings_dict[tconst]['numVotes'] = row['numVotes']

In [159]:
ratings_dict

{'tt0015881': {'averageRating': 8.0, 'numVotes': 10901},
 'tt0018037': {'averageRating': 6.4, 'numVotes': 11206},
 'tt0026097': {'averageRating': 6.8, 'numVotes': 2085},
 'tt0027260': {'averageRating': 7.6, 'numVotes': 12273},
 'tt0028216': {'averageRating': 7.1, 'numVotes': 6186},
 'tt0029852': {'averageRating': 6.8, 'numVotes': 2347},
 'tt0033870': {'averageRating': 7.9, 'numVotes': 167979},
 'tt0034172': {'averageRating': 7.2, 'numVotes': 7002},
 'tt0034778': {'averageRating': 7.5, 'numVotes': 4182},
 'tt0035982': {'averageRating': 6.5, 'numVotes': 562},
 'tt0039302': {'averageRating': 7.5, 'numVotes': 22430},
 'tt0039666': {'averageRating': 7.1, 'numVotes': 2083},
 'tt0040458': {'averageRating': 7.9, 'numVotes': 6120},
 'tt0040525': {'averageRating': 7.5, 'numVotes': 34077},
 'tt0040887': {'averageRating': 6.8, 'numVotes': 971},
 'tt0042192': {'averageRating': 8.2, 'numVotes': 140378},
 'tt0043142': {'averageRating': 7.2, 'numVotes': 4947},
 'tt0043660': {'averageRating': 6.9, 'numVotes': 3903},
 'tt0045205': {'averageRating': 7.5, 'numVotes': 7544},
 'tt0046816': {'averageRating': 7.7, 'numVotes': 30512},
 'tt0049833': {'averageRating': 7.9, 'numVotes': 78731},
 'tt0050815': {'averageRating': 6.6, 'numVotes': 5940},
 'tt0051866': {'averageRating': 7.3, 'numVotes': 4594},
 'tt0052357': {'averageRating': 8.3, 'numVotes': 433252},
 'tt0053137': {'averageRating': 7.1, 'numVotes': 14613},
 'tt0054084': {'averageRating': 6.7, 'numVotes': 6099},
 'tt0054885': {'averageRating': 6.9, 'numVotes': 3763},
 'tt0055490': {'averageRating': 6.3, 'numVotes': 970},
 'tt0055798': {'averageRating': 7.8, 'numVotes': 19599},
 'tt0055895': {'averageRating': 7.8, 'numVotes': 14235},
 'tt0055972': {'averageRating': 7.3, 'numVotes': 6771},
 'tt0056543': {'averageRating': 4.7, 'numVotes': 89},
 'tt0056869': {'averageRating': 7.6, 'numVotes': 207493},
 'tt0058329': {'averageRating': 7.1, 'numVotes': 54541},
 'tt0061722': {'averageRating': 8.0, 'numVotes': 291206},
 'tt0061735': {'averageRating': 7.8, 'numVotes': 49658},
 'tt0062138': {'averageRating': 7.3, 'numVotes': 23990},
 'tt0062765': {'averageRating': 7.4, 'numVotes': 76783},
 'tt0063426': {'averageRating': 6.8, 'numVotes': 3477},
 'tt0063469': {'averageRating': 5.9, 'numVotes': 3051},
 'tt0063829': {'averageRating': 7.1, 'numVotes': 10013},
 'tt0065063': {'averageRating': 7.2, 'numVotes': 31700},
 'tt0066999': {'averageRating': 7.7, 'numVotes': 170712},
 'tt0067185': {'averageRating': 7.9, 'numVotes': 82583},
 'tt0067535': {'averageRating': 6.0, 'numVotes': 2209},
 'tt0068334': {'averageRating': 7.0, 'numVotes': 12055},
 'tt0069704': {'averageRating': 7.4, 'numVotes': 99995},
 'tt0070292': {'averageRating': 6.4, 'numVotes': 3348},
 'tt0070355': {'averageRating': 7.2, 'numVotes': 67758},
 'tt0071360': {'averageRating': 7.7, 'numVotes': 124029},
 'tt0071521': {'averageRating': 6.6, 'numVotes': 3650},
 'tt0071607': {'averageRating': 5.7, 'numVotes': 8974},
 'tt0072308': {'averageRating': 7.0, 'numVotes': 48997},
 'tt0074483': {'averageRating': 6.7, 'numVotes': 50039},
 'tt0074512': {'averageRating': 6.8, 'numVotes': 25168},
 'tt0076141': {'averageRating': 6.6, 'numVotes': 24160},
 'tt0077533': {'averageRating': 4.2, 'numVotes': 8199},
 'tt0077548': {'averageRating': 6.1, 'numVotes': 351},
 'tt0077578': {'averageRating': 6.8, 'numVotes': 17220},
 'tt0077745': {'averageRating': 7.4, 'numVotes': 72248},
 'tt0078346': {'averageRating': 7.4, 'numVotes': 189922},
 'tt0080025': {'averageRating': 7.0, 'numVotes': 20923},
 'tt0080492': {'averageRating': 4.2, 'numVotes': 4570},
 'tt0080556': {'averageRating': 6.6, 'numVotes': 2920},
 'tt0080854': {'averageRating': 5.7, 'numVotes': 749},
 'tt0081485': {'averageRating': 6.5, 'numVotes': 1172},
 'tt0082177': {'averageRating': 4.2, 'numVotes': 357},
 'tt0083129': {'averageRating': 7.1, 'numVotes': 61},
 'tt0084675': {'averageRating': 6.8, 'numVotes': 3092},
 'tt0086197': {'averageRating': 7.8, 'numVotes': 66079},
 'tt0086383': {'averageRating': 6.6, 'numVotes': 49449},
 'tt0087096': {'averageRating': 5.2, 'numVotes': 1576},
 'tt0087150': {'averageRating': 6.6, 'numVotes': 644},
 'tt0087384': {'averageRating': 4.9, 'numVotes': 809},
 'tt0088256': {'averageRating': 5.7, 'numVotes': 1943},
 'tt0088275': {'averageRating': 8.2, 'numVotes': 6661},
 'tt0089360': {'averageRating': 6.5, 'numVotes': 17305},
 'tt0089569': {'averageRating': 5.4, 'numVotes': 1196},
 'tt0090264': {'averageRating': 6.3, 'numVotes': 105946},
 'tt0090728': {'averageRating': 7.2, 'numVotes': 156447},
 'tt0091323': {'averageRating': 6.4, 'numVotes': 339},
 'tt0091814': {'averageRating': 5.7, 'numVotes': 5437},
 'tt0092007': {'averageRating': 7.3, 'numVotes': 92486},
 'tt0092710': {'averageRating': 5.1, 'numVotes': 4795},
 'tt0093260': {'averageRating': 6.8, 'numVotes': 65907},
 'tt0094715': {'averageRating': 7.0, 'numVotes': 29278},
 'tt0094963': {'averageRating': 6.3, 'numVotes': 49768},
 'tt0095836': {'averageRating': 6.3, 'numVotes': 2554},
 'tt0095897': {'averageRating': 5.9, 'numVotes': 20167},
 'tt0096316': {'averageRating': 6.9, 'numVotes': 22234},
 'tt0097027': {'averageRating': 7.1, 'numVotes': 48703},
 'tt0097336': {'averageRating': 6.5, 'numVotes': 9278},
 'tt0097576': {'averageRating': 8.2, 'numVotes': 819612},
 'tt0098524': {'averageRating': 6.7, 'numVotes': 5550},
 'tt0100318': {'averageRating': 6.4, 'numVotes': 23228},
 'tt0100405': {'averageRating': 7.1, 'numVotes': 371071},
 'tt0101458': {'averageRating': 6.8, 'numVotes': 11531},
 'tt0101590': {'averageRating': 6.4, 'numVotes': 8404},
 'tt0101746': {'averageRating': 6.9, 'numVotes': 5972},
 'tt0101761': {'averageRating': 7.2, 'numVotes': 100212},
 'tt0101787': {'averageRating': 6.0, 'numVotes': 17378},
 'tt0102900': {'averageRating': 6.5, 'numVotes': 11655},
 'tt0102975': {'averageRating': 7.2, 'numVotes': 81726},
 'tt0103772': {'averageRating': 7.1, 'numVotes': 222568},
 'tt0104265': {'averageRating': 5.9, 'numVotes': 15487},
 'tt0104850': {'averageRating': 6.0, 'numVotes': 27246},
 'tt0105217': {'averageRating': 6.1, 'numVotes': 17685},
 'tt0105417': {'averageRating': 6.5, 'numVotes': 110069},
 'tt0105435': {'averageRating': 7.1, 'numVotes': 63229},
 'tt0106881': {'averageRating': 7.1, 'numVotes': 24811},
 'tt0107091': {'averageRating': 7.0, 'numVotes': 19159},
 'tt0107614': {'averageRating': 7.1, 'numVotes': 295893},
 'tt0107688': {'averageRating': 7.9, 'numVotes': 379781},
 'tt0108147': {'averageRating': 5.7, 'numVotes': 59651},
 'tt0108174': {'averageRating': 6.5, 'numVotes': 43354},
 'tt0109830': {'averageRating': 8.8, 'numVotes': 2296055},
 'tt0109891': {'averageRating': 4.9, 'numVotes': 8821},
 'tt0110216': {'averageRating': 4.7, 'numVotes': 73755},
 'tt0110671': {'averageRating': 5.4, 'numVotes': 741},
 'tt0111693': {'averageRating': 6.5, 'numVotes': 23809},
 'tt0112722': {'averageRating': 6.6, 'numVotes': 67222},
 'tt0113451': {'averageRating': 5.3, 'numVotes': 14521},
 'tt0113957': {'averageRating': 6.0, 'numVotes': 74937},
 'tt0113986': {'averageRating': 5.5, 'numVotes': 38854},
 'tt0116130': {'averageRating': 6.2, 'numVotes': 27146},
 'tt0116141': {'averageRating': 5.9, 'numVotes': 2981},
 'tt0116277': {'averageRating': 5.9, 'numVotes': 51840},
 'tt0116483': {'averageRating': 7.0, 'numVotes': 253542},
 'tt0116552': {'averageRating': 5.9, 'numVotes': 16413},
 'tt0116669': {'averageRating': 5.8, 'numVotes': 64531},
 'tt0116683': {'averageRating': 6.7, 'numVotes': 74785},
 'tt0117091': {'averageRating': 6.9, 'numVotes': 6928},
 'tt0117333': {'averageRating': 6.4, 'numVotes': 84781},
 'tt0117500': {'averageRating': 7.4, 'numVotes': 362315},
 'tt0117918': {'averageRating': 6.4, 'numVotes': 53917},
 'tt0118966': {'averageRating': 6.1, 'numVotes': 18088},
 'tt0118998': {'averageRating': 5.4, 'numVotes': 103115},
 'tt0119019': {'averageRating': 6.9, 'numVotes': 1922},
 'tt0119109': {'averageRating': 5.3, 'numVotes': 16651},
 'tt0119137': {'averageRating': 5.3, 'numVotes': 95580},
 'tt0119174': {'averageRating': 7.7, 'numVotes': 437217},
 'tt0119190': {'averageRating': 5.5, 'numVotes': 85296},
 'tt0119664': {'averageRating': 5.6, 'numVotes': 29468},
 'tt0120151': {'averageRating': 4.8, 'numVotes': 1548},
 'tt0120184': {'averageRating': 6.1, 'numVotes': 113415},
 'tt0120596': {'averageRating': 5.1, 'numVotes': 19114},
 'tt0120632': {'averageRating': 6.7, 'numVotes': 128994},
 'tt0120703': {'averageRating': 5.7, 'numVotes': 8450},
 'tt0120783': {'averageRating': 6.7, 'numVotes': 158064},
 'tt0120889': {'averageRating': 7.0, 'numVotes': 115444},
 'tt0123209': {'averageRating': 6.4, 'numVotes': 13161},
 'tt0129290': {'averageRating': 6.8, 'numVotes': 123629},
 'tt0131369': {'averageRating': 6.1, 'numVotes': 45298},
 'tt0133093': {'averageRating': 8.7, 'numVotes': 2084998},
 'tt0139030': {'averageRating': 5.3, 'numVotes': 807},
 'tt0145531': {'averageRating': 6.2, 'numVotes': 72896},
 'tt0165929': {'averageRating': 6.1, 'numVotes': 74216},
 'tt0177215': {'averageRating': 5.7, 'numVotes': 1536},
 'tt0182789': {'averageRating': 6.9, 'numVotes': 125890},
 'tt0187559': {'averageRating': 5.8, 'numVotes': 936},
 'tt0201901': {'averageRating': 5.5, 'numVotes': 328},
 'tt0204175': {'averageRating': 5.4, 'numVotes': 17703},
 'tt0206420': {'averageRating': 5.3, 'numVotes': 10998},
 'tt0209475': {'averageRating': 5.3, 'numVotes': 87735},
 'tt0212974': {'averageRating': 6.6, 'numVotes': 4574},
 'tt0230030': {'averageRating': 6.1, 'numVotes': 113337},
 'tt0230838': {'averageRating': 6.7, 'numVotes': 95321},
 'tt0237397': {'averageRating': 8.0, 'numVotes': 39},
 'tt0240462': {'averageRating': 4.7, 'numVotes': 47846},
 'tt0240880': {'averageRating': 5.9, 'numVotes': 329},
 'tt0240890': {'averageRating': 6.8, 'numVotes': 122565},
 'tt0243736': {'averageRating': 5.6, 'numVotes': 76296},
 'tt0246894': {'averageRating': 3.1, 'numVotes': 29916},
 'tt0247638': {'averageRating': 6.4, 'numVotes': 167041},
 'tt0250612': {'averageRating': 6.6, 'numVotes': 28},
 'tt0253867': {'averageRating': 5.2, 'numVotes': 63178},
 'tt0257756': {'averageRating': 6.4, 'numVotes': 48851},
 'tt0273253': {'averageRating': 6.1, 'numVotes': 1347},
 'tt0286716': {'averageRating': 5.6, 'numVotes': 281160},
 'tt0294870': {'averageRating': 6.8, 'numVotes': 56254},
 'tt0298798': {'averageRating': 6.6, 'numVotes': 2967},
 'tt0298814': {'averageRating': 5.5, 'numVotes': 108398},
 'tt0304415': {'averageRating': 6.6, 'numVotes': 92555},
 'tt0315297': {'averageRating': 5.3, 'numVotes': 23271},
 'tt0315983': {'averageRating': 7.5, 'numVotes': 73263},
 'tt0317910': {'averageRating': 8.1, 'numVotes': 25241},
 'tt0328589': {'averageRating': 6.7, 'numVotes': 61404},
 'tt0337692': {'averageRating': 6.0, 'numVotes': 43492},
 'tt0342300': {'averageRating': 5.9, 'numVotes': 1174},
 'tt0343660': {'averageRating': 6.8, 'numVotes': 387843},
 'tt0350041': {'averageRating': 7.9, 'numVotes': 32},
 'tt0351885': {'averageRating': 4.0, 'numVotes': 191},
 'tt0357567': {'averageRating': 6.8, 'numVotes': 63},
 'tt0358551': {'averageRating': 1.7, 'numVotes': 752},
 'tt0358722': {'averageRating': 5.7, 'numVotes': 217},
 'tt0364961': {'averageRating': 6.9, 'numVotes': 26208},
 'tt0371739': {'averageRating': 5.3, 'numVotes': 7516},
 'tt0377029': {'averageRating': 5.3, 'numVotes': 221},
 'tt0377043': {'averageRating': 4.8, 'numVotes': 461},
 'tt0379402': {'averageRating': 5.8, 'numVotes': 40},
 'tt0386284': {'averageRating': 5.8, 'numVotes': 122},
 'tt0387059': {'averageRating': 5.5, 'numVotes': 7268},
 'tt0417667': {'averageRating': 7.3, 'numVotes': 60},
 'tt0425123': {'averageRating': 6.7, 'numVotes': 118225},
 'tt0443706': {'averageRating': 7.7, 'numVotes': 610161},
 'tt0454921': {'averageRating': 8.0, 'numVotes': 570816},
 'tt0478970': {'averageRating': 7.2, 'numVotes': 731932},
 'tt0831387': {'averageRating': 6.4, 'numVotes': 447040},
 'tt0907842': {'averageRating': 7.7, 'numVotes': 175},
 'tt1013753': {'averageRating': 7.5, 'numVotes': 180809},
 'tt1020938': {'averageRating': 7.0, 'numVotes': 7469},
 'tt10838180': {'averageRating': 5.7, 'numVotes': 284950},
 'tt10954600': {'averageRating': 6.0, 'numVotes': 236822},
 'tt1212419': {'averageRating': 6.5, 'numVotes': 96009},
 'tt1226837': {'averageRating': 7.4, 'numVotes': 104040},
 'tt1270797': {'averageRating': 6.6, 'numVotes': 548434},
 'tt1363478': {'averageRating': 7.0, 'numVotes': 8},
 'tt13694702': {'averageRating': 6.3, 'numVotes': 5235},
 'tt13745850': {'averageRating': 6.5, 'numVotes': 18664},
 'tt1462411': {'averageRating': 5.7, 'numVotes': 2119},
 'tt1560747': {'averageRating': 7.1, 'numVotes': 188126},
 'tt1728102': {'averageRating': 6.9, 'numVotes': 40419},
 'tt18382328': {'averageRating': 6.6, 'numVotes': 1077},
 'tt1979163': {'averageRating': 6.8, 'numVotes': 63},
 'tt2080374': {'averageRating': 7.2, 'numVotes': 180318},
 'tt2103281': {'averageRating': 7.6, 'numVotes': 490008},
 'tt2126355': {'averageRating': 6.1, 'numVotes': 260350},
 'tt2215399': {'averageRating': 6.5, 'numVotes': 3211},
 'tt2234155': {'averageRating': 6.3, 'numVotes': 216822},
 'tt2334873': {'averageRating': 7.3, 'numVotes': 213880},
 'tt2431438': {'averageRating': 8.2, 'numVotes': 164682},
 'tt25154554': {'averageRating': 3.8, 'numVotes': 111},
 'tt2581458': {'averageRating': 8.2, 'numVotes': 21934},
 'tt2666270': {'averageRating': 7.4, 'numVotes': 8847},
 'tt2720826': {'averageRating': 5.7, 'numVotes': 8904},
 'tt2884170': {'averageRating': 6.1, 'numVotes': 132},
 'tt3018528': {'averageRating': 5.2, 'numVotes': 276},
 'tt3172532': {'averageRating': 6.8, 'numVotes': 33929},
 'tt3713030': {'averageRating': 5.6, 'numVotes': 5929},
 'tt3794354': {'averageRating': 6.5, 'numVotes': 163560},
 'tt4080768': {'averageRating': 6.7, 'numVotes': 5780},
 'tt4317898': {'averageRating': 7.2, 'numVotes': 54},
 'tt4353250': {'averageRating': 7.3, 'numVotes': 22171},
 'tt4572984': {'averageRating': 6.4, 'numVotes': 476},
 'tt5095030': {'averageRating': 7.0, 'numVotes': 457782},
 'tt5620076': {'averageRating': 7.6, 'numVotes': 10995},
 'tt7087260': {'averageRating': 7.4, 'numVotes': 9171},
 'tt7097896': {'averageRating': 5.9, 'numVotes': 265307},
 'tt7241800': {'averageRating': 5.8, 'numVotes': 199},
 'tt7374948': {'averageRating': 6.8, 'numVotes': 63484},
 'tt8893498': {'averageRating': 6.4, 'numVotes': 181},
 'tt9376612': {'averageRating': 7.4, 'numVotes': 444863}}

In [160]:
for index, row in df[df['tconst'].notna()].iterrows():
    tconst = row['tconst']
    try:
        df.at[index, 'avg_rating'] = ratings_dict[tconst]['averageRating']
        df.at[index, 'numVotes'] = ratings_dict[tconst]['numVotes']
    except:
        continue

In [187]:
list(df[df.tconst.isnull()].Title.unique())

['Chan is Missing',
 "I's",
 'When We Rise',
 'Nash Bridges',
 'This Is Us',
 'Murder in the First, Season 1',
 'GirlBoss',
 'Sense8 - Season 2',
 'Women is Losers',
 'The OA Part II',
 'The Phone/Jexi',
 'Murder in the First, Season 2',
 'Murder in the First, Season 3',
 'Iâ€™m A Virgo',
 'Etruscan Smile',
 'Shit and Champagne',
 'DEVS',
 'Terminator - Genisys',
 'Chance Season 2',
 'Blindspotting (Season 2)',
 'Goliath- Season 4',
 'Americana',
 'Budding Prospects, Pilot',
 'Looking "Special"',
 'Super Pumped: The Battle for Uber',
 'D.O.A',
 'Vegas in Space',
 'Attack of the Killer Tomatoes',
 'Joy Luck Club',
 'Clickbait',
 'Chance - Season 1 Pilot',
 'Ballers Season 3',
 'Play it Again, Sam',
 'Silicon Valley Season 4',
 'Need For Speed',
 'My Big Fat Chinese Christmas',
 'Age of Adaline',
 'Golden Gate',
 'The Woman In Red',
 'Alive',
 "What's Up Doc?",
 'Cardinal X',
 'By Hook or By Crook',
 'Pleasure of His Company',
 'Parks and Recreation',
 'Broken-A Modern Love Story',
 'It Came From Beneath the Sea',
 'The Love Bug',
 'Interview With The Vampire',
 'Love & Taxes',
 'A Jitney Elopement',
 'Mission (aka City of Bars)',
 'Star Trek II : The Wrath of Khan',
 'Good NeighborSam',
 'Escape From Alcatraz',
 'Nine to Five',
 'God is a Communist?* (show me heart universe)',
 'Hemingway & Gelhorn',
 'Common Threads: Stories From the Quilt',
 'Live Nude Girls Unite',
 'What the Bleep Do We Know',
 'Looking Season 2 ep 202',
 'Looking Season 2 ep 209',
 'Looking Season 2 ep 207',
 'Looking Season 2 ep 205',
 'Looking Season 2 ep 210',
 'Looking Season 2 ep 204',
 'Looking Season 2 ep 208',
 'Looking Season 2 ep 203',
 'Looking Season 2 ep 206',
 'CSI: NY- episode 903']

In [195]:
df[(df.tconst.isnull()) & (df.Title == "Nine to Five")]

,unique_id,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,...,city,state,coordinates_final2,lat_final2,lon_final2,tconst,genres,run_time,avg_rating,numVotes
1553,1542,Nine to Five,1980,Albert S. Samuels Clock (856 Market Street bet...,NaN,Twentieth Century Fox Film Corporation,Twentieth Century Fox Film Corporation,Colin Higgins,Colin Higgins,Jane Fonda,...,San Francisco,California,"37.785146, -122.407089",37.785146,-122.407089,NaN,NaN,NaN,NaN,NaN

In [188]:
assign_tconst = {}

for movie in list(df[df.tconst.isnull()].Title.unique()):
    assign_tconst[movie] = None

In [193]:
for key in assign_tconst:
    print(f"assign_tconst['{key}']= ''")

assign_tconst['Chan is Missing']= ''
assign_tconst['I's']= ''
assign_tconst['When We Rise']= ''
assign_tconst['Nash Bridges']= ''
assign_tconst['This Is Us']= ''
assign_tconst['Murder in the First, Season 1']= ''
assign_tconst['GirlBoss']= ''
assign_tconst['Sense8 - Season 2']= ''
assign_tconst['Women is Losers']= ''
assign_tconst['The OA Part II']= ''
assign_tconst['The Phone/Jexi']= ''
assign_tconst['Murder in the First, Season 2']= ''
assign_tconst['Murder in the First, Season 3']= ''
assign_tconst['Iâ€™m A Virgo']= ''
assign_tconst['Etruscan Smile']= ''
assign_tconst['Shit and Champagne']= ''
assign_tconst['DEVS']= ''
assign_tconst['Terminator - Genisys']= ''
assign_tconst['Chance Season 2']= ''
assign_tconst['Blindspotting (Season 2)']= ''
assign_tconst['Goliath- Season 4']= ''
assign_tconst['Americana']= ''
assign_tconst['Budding Prospects, Pilot']= ''
assign_tconst['Looking "Special"']= ''
assign_tconst['Super Pumped: The Battle for Uber']= ''
assign_tconst['D.O.A']= ''
assign_tconst['Vegas in Space']= ''
assign_tconst['Attack of the Killer Tomatoes']= ''
assign_tconst['Joy Luck Club']= ''
assign_tconst['Clickbait']= ''
assign_tconst['Chance - Season 1 Pilot']= ''
assign_tconst['Ballers Season 3']= ''
assign_tconst['Play it Again, Sam']= ''
assign_tconst['Silicon Valley Season 4']= ''
assign_tconst['Need For Speed']= ''
assign_tconst['My Big Fat Chinese Christmas']= ''
assign_tconst['Age of Adaline']= ''
assign_tconst['Golden Gate']= ''
assign_tconst['The Woman In Red']= ''
assign_tconst['Alive']= ''
assign_tconst['What's Up Doc?']= ''
assign_tconst['Cardinal X']= ''
assign_tconst['By Hook or By Crook']= ''
assign_tconst['Pleasure of His Company']= ''
assign_tconst['Parks and Recreation']= ''
assign_tconst['Broken-A Modern Love Story']= ''
assign_tconst['It Came From Beneath the Sea']= ''
assign_tconst['The Love Bug']= ''
assign_tconst['Interview With The Vampire']= ''
assign_tconst['Love & Taxes']= ''
assign_tconst['A Jitney Elopement']= ''
assign_tconst['Mission (aka City of Bars)']= ''
assign_tconst['Star Trek II : The Wrath of Khan']= ''
assign_tconst['Good NeighborSam']= ''
assign_tconst['Escape From Alcatraz']= ''
assign_tconst['Nine to Five']= ''
assign_tconst['God is a Communist?* (show me heart universe)']= ''
assign_tconst['Hemingway & Gelhorn']= ''
assign_tconst['Common Threads: Stories From the Quilt']= ''
assign_tconst['Live Nude Girls Unite']= ''
assign_tconst['What the Bleep Do We Know']= ''
assign_tconst['Looking Season 2 ep 202']= ''
assign_tconst['Looking Season 2 ep 209']= ''
assign_tconst['Looking Season 2 ep 207']= ''
assign_tconst['Looking Season 2 ep 205']= ''
assign_tconst['Looking Season 2 ep 210']= ''
assign_tconst['Looking Season 2 ep 204']= ''
assign_tconst['Looking Season 2 ep 208']= ''
assign_tconst['Looking Season 2 ep 203']= ''
assign_tconst['Looking Season 2 ep 206']= ''
assign_tconst['CSI: NY- episode 903']= ''

In [196]:
assign_tconst['Chan is Missing']= 'tt0083728'
assign_tconst["I's"]= 'tt9218134'
assign_tconst['When We Rise']= 'tt5292622'
assign_tconst['Nash Bridges']= 'tt0115285'
assign_tconst['This Is Us']= 'tt5555260'
assign_tconst['Murder in the First, Season 1']= 'tt2402061'
assign_tconst['GirlBoss']= 'tt5706996'
assign_tconst['Sense8 - Season 2']= 'tt2431438'
assign_tconst['Women is Losers']= 'tt9024096'
assign_tconst['The OA Part II']= 'tt4635282'
assign_tconst['The Phone/Jexi']= 'tt9354944'
assign_tconst['Murder in the First, Season 2']= 'tt2402061'
assign_tconst['Murder in the First, Season 3']= 'tt2402061'
assign_tconst['Iâ€™m A Virgo']= 'tt13649510'
assign_tconst['Etruscan Smile']= 'tt5459382'
assign_tconst['Shit and Champagne']= 'tt13023550'
assign_tconst['DEVS']= 'tt8134186'
assign_tconst['Terminator - Genisys']= 'tt1340138'
assign_tconst['Chance Season 2']= 'tt5620076'
assign_tconst['Blindspotting (Season 2)']= 'tt11097374'
assign_tconst['Goliath- Season 4']= 'tt4687880'
assign_tconst['Americana']= 'tt17676734'
assign_tconst['Budding Prospects, Pilot']= 'tt6101624'
assign_tconst['Looking "Special"']= 'tt4552118'
assign_tconst['Super Pumped: The Battle for Uber']= 'tt11173006'
assign_tconst['D.O.A']= 'tt0094933'
assign_tconst['Vegas in Space']= 'tt0103192'
assign_tconst['Attack of the Killer Tomatoes']= 'tt0080391'
assign_tconst['Joy Luck Club']= 'tt0107282'
assign_tconst['Clickbait']= 'tt10888878'
assign_tconst['Chance - Season 1 Pilot']= 'tt5620076'
assign_tconst['Ballers Season 3']= 'tt2891574'
assign_tconst['Play it Again, Sam']= 'tt0069097'
assign_tconst['Silicon Valley Season 4']= 'tt2575988'
assign_tconst['Need For Speed']= 'tt2369135'
assign_tconst['My Big Fat Chinese Christmas']= 'tt22262600'
assign_tconst['Age of Adaline']= 'tt1655441'
assign_tconst['Golden Gate']= 'tt0109917'
assign_tconst['The Woman In Red']= 'tt0088414'
assign_tconst['Alive']= 'tt0106246'
assign_tconst["What's Up Doc?"]= 'tt0069495'
assign_tconst['Cardinal X']= 'tt3664992'
assign_tconst['By Hook or By Crook']= 'tt0290498'
assign_tconst['Pleasure of His Company']= 'tt0055307'
assign_tconst['Parks and Recreation']= 'tt1266020'
assign_tconst['Broken-A Modern Love Story']= ''
assign_tconst['It Came From Beneath the Sea']= 'tt0048215'
assign_tconst['The Love Bug']= 'tt0064603'
assign_tconst['Interview With The Vampire']= 'tt3960394'
assign_tconst['Love & Taxes']= 'tt3596382'
assign_tconst['A Jitney Elopement']= 'tt0005571'
assign_tconst['Mission (aka City of Bars)']= 'tt0208866'
assign_tconst['Star Trek II : The Wrath of Khan']= 'tt0084726'
assign_tconst['Good NeighborSam']= 'tt0058153'
assign_tconst['Escape From Alcatraz']= 'tt0079116'
assign_tconst['Nine to Five']= 'tt0080319'
assign_tconst['God is a Communist?* (show me heart universe)']= 'tt2698124'
assign_tconst['Hemingway & Gelhorn']= 'tt0423455'
assign_tconst['Common Threads: Stories From the Quilt']= 'tt0097099'
assign_tconst['Live Nude Girls Unite']= 'tt0264802'
assign_tconst['What the Bleep Do We Know']= 'tt0399877'
assign_tconst['Looking Season 2 ep 202']= 'tt2581458'
assign_tconst['Looking Season 2 ep 209']= 'tt2581458'
assign_tconst['Looking Season 2 ep 207']= 'tt2581458'
assign_tconst['Looking Season 2 ep 205']= 'tt2581458'
assign_tconst['Looking Season 2 ep 210']= 'tt2581458'
assign_tconst['Looking Season 2 ep 204']= 'tt2581458'
assign_tconst['Looking Season 2 ep 208']= 'tt2581458'
assign_tconst['Looking Season 2 ep 203']= 'tt2581458'
assign_tconst['Looking Season 2 ep 206']= 'tt2581458'
assign_tconst['CSI: NY- episode 903']= 'tt0395843'

In [197]:
assign_tconst

{'Chan is Missing': 'tt0083728',
 "I's": 'tt9218134',
 'When We Rise': 'tt5292622',
 'Nash Bridges': 'tt0115285',
 'This Is Us': 'tt5555260',
 'Murder in the First, Season 1': 'tt2402061',
 'GirlBoss': 'tt5706996',
 'Sense8 - Season 2': 'tt2431438',
 'Women is Losers': 'tt9024096',
 'The OA Part II': 'tt4635282',
 'The Phone/Jexi': 'tt9354944',
 'Murder in the First, Season 2': 'tt2402061',
 'Murder in the First, Season 3': 'tt2402061',
 'Iâ€™m A Virgo': 'tt13649510',
 'Etruscan Smile': 'tt5459382',
 'Shit and Champagne': 'tt13023550',
 'DEVS': 'tt8134186',
 'Terminator - Genisys': 'tt1340138',
 'Chance Season 2': 'tt5620076',
 'Blindspotting (Season 2)': 'tt11097374',
 'Goliath- Season 4': 'tt4687880',
 'Americana': 'tt17676734',
 'Budding Prospects, Pilot': 'tt6101624',
 'Looking "Special"': 'tt4552118',
 'Super Pumped: The Battle for Uber': 'tt11173006',
 'D.O.A': 'tt0094933',
 'Vegas in Space': 'tt0103192',
 'Attack of the Killer Tomatoes': 'tt0080391',
 'Joy Luck Club': 'tt0107282',
 'Clickbait': 'tt10888878',
 'Chance - Season 1 Pilot': 'tt5620076',
 'Ballers Season 3': 'tt2891574',
 'Play it Again, Sam': 'tt0069097',
 'Silicon Valley Season 4': 'tt2575988',
 'Need For Speed': 'tt2369135',
 'My Big Fat Chinese Christmas': 'tt22262600',
 'Age of Adaline': 'tt1655441',
 'Golden Gate': 'tt0109917',
 'The Woman In Red': 'tt0088414',
 'Alive': 'tt0106246',
 "What's Up Doc?": 'tt0069495',
 'Cardinal X': 'tt3664992',
 'By Hook or By Crook': 'tt0290498',
 'Pleasure of His Company': 'tt0055307',
 'Parks and Recreation': 'tt1266020',
 'Broken-A Modern Love Story': '',
 'It Came From Beneath the Sea': 'tt0048215',
 'The Love Bug': 'tt0064603',
 'Interview With The Vampire': 'tt3960394',
 'Love & Taxes': 'tt3596382',
 'A Jitney Elopement': 'tt0005571',
 'Mission (aka City of Bars)': 'tt0208866',
 'Star Trek II : The Wrath of Khan': 'tt0084726',
 'Good NeighborSam': 'tt0058153',
 'Escape From Alcatraz': 'tt0079116',
 'Nine to Five': 'tt0080319',
 'God is a Communist?* (show me heart universe)': 'tt2698124',
 'Hemingway & Gelhorn': 'tt0423455',
 'Common Threads: Stories From the Quilt': 'tt0097099',
 'Live Nude Girls Unite': 'tt0264802',
 'What the Bleep Do We Know': 'tt0399877',
 'Looking Season 2 ep 202': 'tt2581458',
 'Looking Season 2 ep 209': 'tt2581458',
 'Looking Season 2 ep 207': 'tt2581458',
 'Looking Season 2 ep 205': 'tt2581458',
 'Looking Season 2 ep 210': 'tt2581458',
 'Looking Season 2 ep 204': 'tt2581458',
 'Looking Season 2 ep 208': 'tt2581458',
 'Looking Season 2 ep 203': 'tt2581458',
 'Looking Season 2 ep 206': 'tt2581458',
 'CSI: NY- episode 903': 'tt0395843'}

In [200]:
for index, row in df[df.tconst.isna()==True].iterrows():
    df.at[index, 'tconst'] = assign_tconst[row.Title]

In [203]:
df_titles = pd.read_csv("data/title.basics.tsv.gz", compression='gzip', delimiter='\t')

/var/folders/3c/w0zr95wd3pn8yyx48x2d9r1m0000gn/T/ipykernel_2003/2815949131.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_titles = pd.read_csv("data/title.basics.tsv.gz", compression='gzip', delimiter='\t')

In [204]:
df_titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [205]:
unique_tconst = list(df.tconst.unique())

In [206]:
df_titles = df_titles[df_titles['tconst'].isin(unique_tconst)]

In [207]:
df_titles

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
5502,tt0005571,short,A Jitney Elopement,A Jitney Elopement,0,1915,\N,26,"Comedy,Short"
15636,tt0015881,movie,Greed,Greed,0,1924,\N,140,"Drama,Thriller,Western"
17770,tt0018037,movie,The Jazz Singer,The Jazz Singer,0,1927,\N,88,"Drama,Music,Musical"
25637,tt0026097,movie,Barbary Coast,Barbary Coast,0,1935,\N,91,"Adventure,Drama,Romance"
26771,tt0027260,movie,After the Thin Man,After the Thin Man,0,1936,\N,112,"Comedy,Crime,Mystery"
...,...,...,...,...,...,...,...,...,...
10595659,tt8893498,tvSeries,A Taiwanese Tale of Two Cities,Shuang cheng gu shi,0,2018,\N,\N,Drama
10655892,tt9024096,movie,Women Is Losers,Women Is Losers,0,2021,\N,84,Drama
10744531,tt9218134,tvSeries,I's,I''s,0,2018,2019,\N,"Comedy,Drama,Romance"
10808214,tt9354944,movie,Jexi,Jexi,0,2019,\N,84,"Comedy,Romance,Sci-Fi"
10818272,tt9376612,movie,Shang-Chi and the Legend of the Ten Rings,Shang-Chi and the Legend of the Ten Rings,0,2021,\N,132,"Action,Adventure,Fantasy"

In [210]:
titles_dict = {}
for index, row in df_titles.iterrows():
    tconst = row['tconst']
    titles_dict[tconst]={}
    titles_dict[tconst]['genres'] = row['genres']
    titles_dict[tconst]['run_time'] = row['runtimeMinutes']

In [211]:
for index, row in df.iterrows():
    tconst = row['tconst']
    try:
        tconst = titles_dict['tconst']
        genres = titles_dict['tconst']['genres']
        run_time = titles_dict['tconst']['run_time']
        df.at[index, 'tconst'] = tconst
        df.at[index, 'genres'] = genres
        df.at[index, 'run_time'] = run_time
    except:
        continue

In [216]:
df_ratings = df_ratings[df_ratings['tconst'].isin(unique_tconst)]

In [217]:
ratings_dict = {}
for index, row in df_ratings.iterrows():
    tconst = row['tconst']
    ratings_dict[tconst]={}
    ratings_dict[tconst]['avg_rating'] = row['averageRating']
    ratings_dict[tconst]['numVotes'] = row['numVotes']

In [218]:
for index, row in df.iterrows():
    tconst = row['tconst']
    try:
        tconst = ratings_dict['tconst']
        rating = ratings_dict['tconst']['avg_rating']
        num_votes = ratings_dict['tconst']['numVotes']
        df.at[index, 'avg_rating'] = rating
        df.at[index, 'numVotes'] = num_votes
    except:
        continue

In [220]:
df.to_csv('FINAL_DATA/Film_Locations_Geocoded_FINAL.csv', index=False)

In [209]:
df_titles.to_csv('data/IMDB_Film_Titles.csv', index=False)